.App {
  width: 100vw;
  height: 100vh;
  margin-top: 10rem;
}

.text-center {
  text-align: center;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.box > button {
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  background-color: #f1f1f1;
  margin-top: 4rem;
}
